<% render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.bathindalive.in/wp-content/uploads/2017/04/bathinda-city-guide-bathidalive.in-bathinda-movies.jpg);">
  <div class="container">
    <h1>Curated Movie Lists</h1>
    <p>For Movie Lovers, by Movie Lovers</p>
  </div>
</div>

<div class="container">
  <h3>All Lists</h3>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("https://bellyfull.net/wp-content/uploads/2019/09/Perfect-Stovetop-Popcorn-blog-2-500x500.jpg") %>)">
        <%= link_to "", list_path(list), class: "card-link" %>
        <p><%= list.name %></p>
      </div>
    <% end %>
  </div>
  <%= link_to "Create a New Movie List", new_list_path, class: "btn btn-primary" %>
</div>
