<div class="container">
  <h1>Movie Lists</h1>
  <h3>All Lists</h3>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <p class="link"><%= link_to "Create a New Movie List", new_list_path %></p>
</div>
